# Angular build artifacts
dist/
tmp/
out-tsc/
.angular/
bazel-out/

# Node.js dependencies
node_modules/

# Logs
npm-debug.log*
yarn-error.log*

# IDEs
.idea/
.vscode/
.history/

# VS Code exceptions (optional)
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# Environment files
.env
.env.*

# Coverage and reports
coverage/
testem.log
libpeerconnection.log
connect.lock

# OS
.DS_Store
Thumbs.db

# Sass
.sass-cache/
